@import 'assets/styles/variables';
@import 'assets/styles/breakpoints';

.Dish {
    width: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;

    img {
        max-width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .content {
        padding: 8px;
    }
}